[Desktop Entry]
Encoding=UTF-8
Name=GNOME Fallback
Name[af]=GNOME Fallback
Name[ar]=جنوم
Name[az]=GNOME Fallback
Name[be]=GNOME Fallback
Name[bg]=GNOME Fallback
Name[bn]=গুহ্‌নোম
Name[bs]=GNOME Fallback
Name[ca]=GNOME Fallback
Name[cs]=GNOME Fallback
Name[cy]=GNOME Fallback
Name[da]=Gnome Fallback
Name[de]=GNOME Fallback
Name[el]=GNOME Fallback
Name[en_CA]=GNOME Fallback
Name[en_GB]=GNOME Fallback
Name[es]=GNOME Fallback
Name[et]=GNOME Fallback
Name[eu]=GNOME Fallback
Name[fi]=Gnome Fallback
Name[fr]=GNOME Fallback
Name[ga]=GNOME Fallback
Name[gl]=GNOME Fallback
Name[gu]=જીનોમ
Name[he]=GNOME Fallback
Name[hi]=गनोम
Name[hr]=GNOME Fallback
Name[hu]=GNOME Fallback
Name[is]=GNOME Fallback
Name[it]=GNOME Fallback
Name[ja]=GNOME Fallback
Name[ko]=그놈
Name[lt]=GNOME Fallback
Name[mi]=GNOME Fallback
Name[mk]=GNOME Fallback
Name[mn]=ГНОМЕ
Name[mr]=जीनोम
Name[ms]=GNOME Fallback
Name[nb]=GNOME Fallback
Name[nl]=GNOME Fallback
Name[nn]=GNOME Fallback
Name[no]=GNOME Fallback
Name[nso]=GNOME Fallback
Name[pa]=ਗਨੋਮ
Name[pl]=GNOME Fallback
Name[pt]=GNOME Fallback
Name[pt_BR]=GNOME Fallback
Name[ro]=GNOME Fallback
Name[ru]=GNOME Fallback
Name[sk]=GNOME Fallback
Name[sl]=GNOME Fallback
Name[sq]=GNOME Fallback
Name[sr]=Гном
Name[sr@Latn]=Gnom
Name[sv]=GNOME Fallback
Name[ta]=GNOME Fallback
Name[th]=GNOME Fallback
Name[tr]=GNOME Fallback
Name[uk]=GNOME Fallback
Name[vi]=GNOME Fallback
Name[wa]=GNOME Fallback
Name[zh_CN]=GNOME Fallback
Name[zh_TW]=GNOME Fallback
Name[zu]=GNOME Fallback
Comment=This session logs you into GNOME Fallback
Comment[af]=Hierdie sessie laat jou aanmeld by GNOME Fallback
Comment[ar]=تسجلك هذه الجلسة في جنوم
Comment[az]=Bu iclas sizi GNOME Fallback-a daxil edəcəkdir
Comment[be]=Гэтая сэсыя завядзе вас у GNOME Fallback
Comment[bg]=Тази сесия включва GNOME Fallback
Comment[bn]=এই সেশনে আপনি গুহ্‌নোমে লগিন করবেন
Comment[bs]=Ova sesija Vas prijavljuje u GNOME Fallback
Comment[ca]=Aquesta sessió entra al GNOME Fallback
Comment[cs]=Toto sezení vás přihlásí do GNOME Fallback
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i GNOME Fallback
Comment[da]=Denne session logger dig på Gnome Fallback
Comment[de]=Diese Sitzung meldet Sie an GNOME Fallback an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο GNOME Fallback
Comment[en_CA]=This session logs you into GNOME Fallback
Comment[en_GB]=This session logs you into GNOME Fallback
Comment[es]=Con esta sesión accede a GNOME Fallback
Comment[et]=See seanss logib sing GNOME Fallback keskkonda
Comment[eu]=Saio honen bidez GNOME Fallbackn sartuko zara
Comment[fi]=Tämä istunto kirjaa sisään Gnome Fallbacken
Comment[fr]=Cette session vous connectera dans GNOME Fallback
Comment[gl]=Esta sesión entra en GNOME Fallback
Comment[gu]=આ સત્ર તમને જીનોમમાં પ્રવેશ આપશે
Comment[he]=תצורת הפעלה זו מחברת אותך ל GNOME Fallback
Comment[hi]=यह सत्र गनोम में लॉगइन होगा
Comment[hr]=Ova sesija vas prijavljuje na GNOME Fallbacka
Comment[hu]=Ez a környezet a GNOME Fallback-ba jelentkezteti be
Comment[id]=Pada sesi ini Anda masuk dengan menggunakan GNOME Fallback
Comment[it]=Sessione di lavoro con GNOME Fallback
Comment[ja]=GNOME Fallback セッションにログインします
Comment[ko]=GNOME Fallback세션으로 로그인합니다
Comment[lt]=Ši sesija prijungia Jus prie GNOME Fallback
Comment[mk]=Оваа сесија ве најавува во GNOME Fallback
Comment[mn]=Энэ суултаар та ГНОМЕ руу нэвтрэнэ.
Comment[mr]=हे सत्र तुम्हाला जीनोम मधे प्रवेश करू देईल
Comment[ms]=Sesi ini akan log anda  ke GNOME Fallback
Comment[nb]=Denne sesjonen logger deg inn til GNOME Fallback
Comment[nl]=Deze sessie meldt u aan bij GNOME Fallback
Comment[nn]=Denne økta loggar på GNOME Fallback
Comment[no]=Denne sesjonen logger deg inn til GNOME Fallback
Comment[nso]=Lenaneo le le go tsentšha go GNOME Fallback
Comment[pa]=ਇਹ ਅਜਲਾਸ ਤੁਹਾਨੂੰ ਗਨੋਮ ਵਿੱਚ ਲੈ ਜਾਏਗਾ
Comment[pl]=Sesja logowania do GNOME Fallback
Comment[pt]=Inicia uma sessão no GNOME Fallback
Comment[pt_BR]=Inicia uma sessão no GNOME Fallback
Comment[ro]=Această sesiune vă va autentifica în GNOME Fallback
Comment[ru]=Начать сеанс GNOME Fallback
Comment[sk]=Toto sedenie vás prihlási do prostredia GNOME Fallback
Comment[sl]=Ta seja vas prijavi v GNOMe
Comment[sq]=Kjo seancë do t'ju fusë në GNOME Fallback
Comment[sr]=Ова сесија вас пријављује на Гнома
Comment[sr@Latn]=Ova sesija vas prijavljuje na Gnoma
Comment[sv]=Denna session loggar in dig i GNOME Fallback
Comment[ta]=இந்த அமர்வு GNOME Fallbackவில் உங்களை நுழைக்கும்
Comment[th]=วาระนี้จะนำคุณเข้าสู่ GNOME Fallback
Comment[tr]=Bu oturum ile GNOME Fallback'a giriş yaparsınız
Comment[uk]=Почати сеанс GNOME Fallback
Comment[vi]=Phiên làm việc này đăng nhập bạn vào GNOME Fallback
Comment[zh_CN]=此会话使您登录到 GNOME Fallback
Comment[zh_TW]=選取這個作業階段後會進入 GNOME Fallback 環境
Comment[zu]=Lenhlanganiso ikungenisa kwiGNOME Fallback
Exec=gnome-session --session=gnome-fallback
TryExec=gnome-session
# no icon yet, only the top three are currently used
Icon=
Type=Application
